

h1{
    color: rgb(29, 29, 205);
    /* height: 40px; */
    width: 100%;
    padding: 10px;
    text-decoration: underline;
    top: 0;
    left: 0;
    font-size: 28px;
    text-align: center; 
}

form{
    height: 420px;
    width: 25%;
    border: 1px solid black;
    text-align: center;
    font-size: 25px;
    padding: 20px 20px; 
    margin-left: 30px; 
}

form>input , select{
    height: 30px;
    width: 170px;
}

#container{
    text-align: center;
    background-color: rgb(88, 88, 253);
    color: white;
    border-collapse:collapse ;
    margin-left: 500px;
   margin-top: -500px;
   font-size: 18px;
}

#container th,td {
    border: 1px solid rgb(25, 169, 201);
    padding: 20px;   
} 

#submit{
    background-color: blue;
    width: 180px;
    border-radius: 15px;

}


